
/* 
*/
/* tamanho da area do side bar esquerdo que contem o perfil do usuario */
.pages .container-left .left-perfil{
    width: 100%;
    height: 15%;
    display: flex;
}
/* area com botoes para navegar pelo site */
.pages .container-left .left-abas{
    width: 100%;
    height: 85%;
}

/* 
*/
    /* ajustando a escala e posicao da img na sidebar */
.pages .container-left .left-perfil .left-imagem{
    width: 25%;
    height: 100%;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ajustando o tamanho e borda da imagem */
.pages .container-left .left-perfil .left-imagem img{
    width: auto;
    height: 100%;
    border-radius: 50px;
}
/* ajustando o nome do user na side bar */
.pages .container-left .left-perfil .left-user{
    width: 75%;
    height: 100%;
    font-size: 2vw;
    padding: 5%;
    display: flex; /* ajustando o conteudo para deixar tudo alinhado a esquerda*/
    justify-content: left;
    align-items: center;
}

.pages .container-left .left-perfil .left-user a{
    color: #ffffffff;
    text-decoration: none; /* deixando os links sem decoracao*/
}

/* 
*/

.pages .container-left .left-abas{
    display: flex;
    justify-content: center;  /* deixando os botoes no centro da side bar*/
    align-items: center;    
}

.pages .container-left .left-abas ul{
    justify-content: center;
    align-items: center;
    list-style: none; /*tirando o estilo de lista*/
    text-decoration: none;
}

.pages .container-left .left-abas ul li{
    padding: 5%;
}

.pages .container-left .left-abas ul li a{
    text-decoration: none;
    color: #ffffffff;    
}

.pages .container-left .left-abas ul li a:hover{
    text-decoration: underline; /* underlina quando passar por cima dos links*/
}

.pages .container-left .left-abas .here{
    font-weight: bolder;
    text-decoration: underline #9747FF;
}

.pages .container-left .left-abas ul li .new-post{
    background-color: #9747FF;
    color: #ffffffff;
    border-radius: 14px;
    width: 100%; /* ajustando o botao de new post*/
    height: 100%;
    font-size: 1vw;
    font-weight: bold;
    padding: 15px;
}