/* ajustando o tamanho da aba de pesquisa */
.pages .container-right .pesquisa{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ajustando o tamanho da aba para sugestoes de perfis */
.pages .container-right .sugestoes{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 /* 
 */
/* ajustando o botao para pesquisa */
 .pages .container-right .pesquisa .botao-pesquisa{
    background-color: #424769;
    color: #ffffffff;
    border-radius: 20px; /* cria uma borda no botao*/
    height: 50%;
    width: 80%;
    font-size: 20px;
 }

 /* 
  */
/* ajustando o tamanho da aba para pessoas sugeridas */
 .pages .container-right .sugestoes .pessoas-sugeridas{
    width: 80%;
    height: 80%;
    border-radius: 25px;
    background-color: #424769;
    text-align: center;
 }

 /* ajustando o texto da aba para pessoas sugeridas */
.pages .container-right .sugestoes .pessoas-sugeridas h1{
    font-size: 20px;
    font-weight: 300;
    padding-top: 15px;
    padding-left: 15px;
    text-align: left;
}

/* linha colorida */
.pages .container-right .sugestoes .pessoas-sugeridas hr{
    display: inline-block; /* faz a linha ficar na horizontal */
    margin: 0;
    width: 80%; /* Ajuste a largura conforme necessário */
    border: 1px solid #2D3250;
}