/* divindo o perfil para conter as imagens e bio */
.pages .container-center .header-perfil{
    width: 100%;
    height: 21%;
}
/* area da header */
.pages .container-center .header-perfil .header{
    position: relative; /*Fazer com que uma imagem possa sobrepor a header*/
    width: 100%;
    height: 80%;
}

.pages .container-center .header-perfil .foto-perfil{
    position:absolute; /* Fazer com que a pfp sobreponha a header*/
    top: 10%;
    left: 26%;
    width: 20%;
    height: 20%;
    border-radius: 5px solid #2D3250; /* borda para fazer com que a pfp fique flutuando sobre a outra*/
}
/* ajustando o tamanho da imagem  */
.pages .container-center .header-perfil .foto-perfil img{
    width: 30%;
    height: auto;
    border-radius: 100px;
    margin-left: 5%;
    border: 5px solid #2D3250;
}
/* ajustando o local do nome de usuario no perfil */
.pages .container-center .user-perfil{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10%;
}

/* permitindo que a area com post passe dos limites de altura */
.pages .container-center .user-posts{
    width: 100%;
    height: 59%;
    overflow-y: scroll;
}
/* 
*/
/* area do botao para seguir no perfil */
.pages .container-center .user-perfil .user-follow{
    width: 8%;
    height: 100%;
}
/* predefinicoes de cor para o botao de follow */
.pages .container-center .user-perfil .user-follow button{
    color: #ffffffff;
    background-color: #424769;
    display: inline;
    padding: 15%;
    border-radius: 15%;
    height: 50%;
    font-weight: bolder;
}
/* area do botao de mensagens */
.pages .container-center .user-perfil .user-message{
    width: 8%;
    height: 100%;
}
/* predefinicoes para o botao de mensagens */
.pages .container-center .user-perfil .user-message button{
    color: #ffffffff;
    background-color: #424769; 
    display: flex;
    padding: 20%;
    border-radius: 15%;
    height:50%;
    justify-content: center;
    align-items: center;
}
/* ajustando o nome do usuario no perfil */
.pages .container-center .user-perfil .username-perfil{
    width: 80%;
    height: 100%;
    display: flex;
    text-align: left;
    align-items: center;
    padding: 2%;
}
/* ajustando a fonte do nome de usuario */
.pages .container-center .user-perfil .username-perfil h2{
    font-size: 2vh;
}
/* definindo a area para a bio */
.pages .container-center .biografia{
    width: 100%;
    height: 10%;
    padding: 1%;
    
}
/* definindo o tamanho para as fontes do texto da bio */
.pages .container-center .biografia h3{
    color: #ffffffff;
    padding: 10px;
    justify-content: left;
    font-size: 0.8vw;
    font-weight: 300;
    width: 80%;
}
